# Jekyll 생성 파일
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler 관련 파일
# .bundle/
# vendor/
# vendor/bundle/
/vendor/bundle/

# Ruby 버전 파일
.ruby-version

# macOS 파일
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows 파일
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code 설정
.vscode/

# 로그 파일
*.log