# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 개인 설정 파일
*.local
.env